
    <h1>Usuarios registrados</h1>
    <div class="clear"></div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Cedula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Contraseña</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of users">
              <td>{{item.cedula}}</td>
              <td>{{item.nombre}}</td>
              <td>{{item.email}}</td>
              <td>{{item.contrasena}}</td>
          </tr>
        </tbody>
      </table>

