<div class="container">
    <div class="clear"></div>
    <h1 >Crear nuevo proyecto</h1>

    <form class="form-horizontal main-form">
      <div *ngIf="!isValid" class="alert alert-danger">
        <strong>Danger!</strong> {{message}}
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="nombre"><span class="required">*</span> Nombre:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="proyecto.nombre" placeholder="Ingrese el nombre del proyecto">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="descripcion"><span class="required">*</span> Descripcion:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="proyecto.descripcion" placeholder="Ingrese la descripcion del proyecto">
        </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2" for="alias"><span class="required">*</span> Alias:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="alias" name="alias"[(ngModel)]="proyecto.alias" placeholder="Ingrese su alias">
          </div>
      </div>
      <div class="form-group">
        <label for="estado" class="control-label col-sm-2"><span class="required">*</span> Estado </label>
        <div class="col-sm-10">
          <select type="text" class="form-control" [(ngModel)]="proyecto.estado " name="estado" placeholder="Escoga el estado del proyecto">
            <option value="activo">Activo</option>
            <option value="inactivo">Inactivo</option>
            <option value="inactivo">Pendiente</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="fecha_inicio"><span class="required">*</span> Fecha inicio:</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio"[(ngModel)]="proyecto.fecha_inicio" placeholder="Ingrese la fecha de inicio del proyecto">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="fecha_fin"><span class="required">*</span> Fecha fin:</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="fecha_fin" name="fecha_fin"[(ngModel)]="proyecto.fecha_fin" placeholder="Ingrese la fecha de fin del proyecto">
        </div>
      </div>
      <div class="form-group">
        <label for="rol" class="control-label col-sm-2"><span class="required">*</span> Responsable </label>
        <div class="col-sm-10">
          <select type="text" class="form-control" [(ngModel)]="proyecto.responsable" name="rol">
            <option *ngFor="let usuario of usuarios" [ngValue]="usuario" >{{usuario.nombre}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" (click)="saveOrUpdatePro()" class="btn btn-outline-success my-2 my-sm-0 btn-save">Guardar</button>
        </div>
      </div>
    </form>
</div>
